* {
  font-family: "Segoe UI", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
svg {
  padding: 0;
  margin: 0;
}

dialog {
  padding: 0;
  border: none;
}

button {
  background-color: initial;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
}

/* Сбросить стили для всех input[type="date"] */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

/* Убрать иконку календаря в Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Убрать иконку календаря в Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

fieldset {
  border: none;
}
